---
import Layout from '../layouts/Layout.astro';
import Neurona from '../components/Neurona.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="RdN">
	<main>
		<div class="flex flex-col gap-5 text-gray-50 text-center py-40 bg-[url(/banner.webp)] bg-cover bg-blue-950 bg-blend-soft-light">
			<p class="max-sm:text-2xl text-5xl animate-fade-in-up">Bienvenido a:</p>
			<h1 class="max-sm:text-5xl text-8xl font-semibold text-shadow-black text-shadow-xs animate-fade-in-down">Redes de Neurociencias</h1>
		</div>
		<!-- Sección Lineas de trabajo -->
		<h1 class="text-center text-4xl font-semibold pt-10 pb-10 animate-fade-in">Próximos eventos</h1>

		<!-- Sección Neurociencias -->
		<h1 class="text-center text-4xl font-semibold pt-10 pb-5 animate-zoom-in timeline-view animate-range-[entry_20%_cover_25%]">Nuestra Red de Disciplinas</h1>
		<div class="flex flex-wrap gap-15 py-10 px-15 max-sm:gap-5 max-sm:px-1 justify-center items-center">
			<Neurona title="Matematicas"/>
			<Neurona title="Neurología"/>
			<Neurona title="Rehabilitación"/>
			<Neurona title="Neuroimagen"/>
			<Neurona title="Genética"/>
			<Neurona title="Psicología"/>
			<Neurona title="Bioquímica"/>
			<Neurona title="Ingeniería biomédica"/>
			<Neurona title="Paido-psiquiatría"/>
			<Neurona title="Neuro-pediatría"/>
		</div>
	</main>
</Layout>