---
import Layout from "../layouts/Layout.astro"
import AcordeonItem from "../components/AcordeonItem.astro"
---

<Layout title="RdN: Líneas de trabajo">
	<h1 class="text-center text-8xl font-semibold py-20 animate-fade-in-down text-blue-950 max-sm:text-7xl max-sm:px-5 max-lg:text-7xl">Líneas de trabajo</h1>

	<div class="max-w-7xl mx-auto px-4 pb-10 animate-fade-in max-lg:max-w-2xl max-sm:max-w-sm">
		<AcordeonItem title="Investigación (Difusión / Divulgación)">
			<h3 class="text-lg font-semibold text-blue-950 mb-2">Puntos Clave</h3>
			<p>Aquí puedes poner todo el contenido detallado sobre la línea de Investigación. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</AcordeonItem>

		<AcordeonItem title="Formación académica">
			<p>Contenido detallado sobre Formación académica. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</AcordeonItem>

		<AcordeonItem title="Servicios de atención clínica">
			<p>Contenido detallado sobre Servicios de atención clínica. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
		</AcordeonItem>

		<AcordeonItem title="Vinculación (Triple hélice)">
			<p>Contenido detallado sobre Vinculación...</p>
		</AcordeonItem>

		<AcordeonItem title="Transferencia Tecnológica (TT)">
			<p>Contenido detallado sobre Transferencia Tecnológica...</p>
		</AcordeonItem>

		<AcordeonItem title="Transferencia de Conocimiento (TC)">
			<p>Contenido detallado sobre Transferencia de Conocimiento...</p>
		</AcordeonItem>
	</div>

	<script>
		// @ts-nocheck
		const menuBtn = document.getElementById('menu-btn');
		const mobileMenu = document.getElementById('mobile-menu');
		const iconOpen = document.getElementById('icon-open');
		const iconClose = document.getElementById('icon-close');

		menuBtn.addEventListener('click', () => {
			mobileMenu.classList.toggle('hidden');
						
			iconOpen.classList.toggle('hidden');
			iconClose.classList.toggle('hidden');
		});
	</script>
</Layout>