---
import Layout from "../layouts/Layout.astro"
import Miembro from "../components/Miembro.astro"
import MembresiaCard from "../components/MembresiaCard.astro"
---

<Layout title="RdN: Miembros">
    <h1 class="text-center text-8xl font-semibold py-20 animate-fade-in-down max-sm:text-5xl max-sm:px-5 max-lg:text-7xl max-lg:pb-10">Miembros de Red de Neurociencias</h1>
    <h1 class="text-center text-6xl font-semibold py-10 animate-fade-in-up max-sm:text-4xl max-lg:text-5xl">Membresías</h1>
    <div class="flex flex-wrap justify-center items-center gap-10">
        <MembresiaCard 
            class="animate-fade-in-up animate-delay-300"
            titulo="Fundador"
            descripcion="Son los que constituyen la sociedad legal. Pueden votar y ser elegidos."
        />
        <MembresiaCard 
            class="animate-fade-in-up animate-delay-300"
            titulo="Honorarios"
            descripcion="Personas destacadas de la comunidad internacional y nacional."
        />
        <MembresiaCard 
            class="animate-fade-in-up animate-delay-300"
            titulo="Activos"
            descripcion="Profesionista que puede votar y ser elegido."
        />
        <MembresiaCard 
            class="animate-fade-in-up animate-delay-300"
            titulo="Asociados"
            descripcion="Profesionista que solo puede votar."
        />
        <MembresiaCard 
            class="animate-fade-in-up animate-delay-300"
            titulo="En formación"
            descripcion="Son estudiantes en formación que no votan ni pueden ser elegidos."
        />
        <MembresiaCard 
            class="animate-fade-in-up animate-delay-300"
            titulo="Internacional"
            descripcion="Residentes permanentes en el extranjero que cumplen los requisitos."
        />
    </div>

    <h1 class="text-center text-6xl font-semibold pt-20 animate-zoom-in timeline-view animate-range-[entry_20%_cover_60%]">Miembros activos de RdN</h1>
    <h1 class="text-center text-5xl font-semibold py-10 animate-zoom-in timeline-view animate-range-[entry_20%_cover_60%]">Neurología</h1>
    <div class="flex justify-center items-center gap-15 px-20 max-sm:flex-col max-sm:px-5">
        <Miembro 
            class="animate-fade-in-right timeline-view animate-range-[entry_20%_cover_40%]"
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
        <Miembro 
            class="animate-fade-in-left timeline-view animate-range-[entry_20%_cover_40%]"
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
    </div>

    <h1 class="text-center text-5xl font-semibold py-10 animate-zoom-in timeline-view animate-range-[entry_20%_cover_60%]">Neuro-pediatría</h1>
    <div class="flex justify-center items-center gap-15 px-20 max-sm:flex-col max-sm:px-5">
        <Miembro 
            class="animate-fade-in-right timeline-view animate-range-[entry_20%_cover_40%]"
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
        <Miembro 
            class="animate-fade-in-left timeline-view animate-range-[entry_20%_cover_40%]"
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
    </div>

    <h1 class="text-center text-5xl font-semibold py-10 animate-zoom-in timeline-view animate-range-[entry_20%_cover_60%]">Psiquiatría</h1>
    <div class="flex justify-center items-center gap-15 px-20 max-sm:flex-col max-sm:px-5">
        <Miembro 
            class="animate-fade-in-right timeline-view animate-range-[entry_20%_cover_40%]"
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
        <Miembro 
            class="animate-fade-in-left timeline-view animate-range-[entry_20%_cover_40%]"
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
    </div>

    <h1 class="text-center text-5xl font-semibold py-10 animate-zoom-in timeline-view animate-range-[entry_20%_cover_60%]">Paido-psiquiatría</h1>
    <div class="flex justify-center items-center gap-15 px-20 max-sm:flex-col max-sm:px-5">
        <Miembro 
            class="animate-fade-in-right timeline-view animate-range-[entry_20%_cover_40%]"
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
        <Miembro 
            class="animate-fade-in-left timeline-view animate-range-[entry_20%_cover_40%]"
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
    </div>

    <h1 class="text-center text-5xl font-semibold py-10 animate-zoom-in timeline-view animate-range-[entry_20%_cover_60%]">Ingeniería Biomédica</h1>
    <div class="flex justify-center items-center gap-15 px-20 max-sm:flex-col max-sm:px-5">
        <Miembro 
            class="animate-fade-in-right timeline-view animate-range-[entry_20%_cover_40%]"
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
        <Miembro 
            class="animate-fade-in-left timeline-view animate-range-[entry_20%_cover_40%]"
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
    </div>

    <h1 class="text-center text-5xl font-semibold py-10 animate-zoom-in timeline-view animate-range-[entry_20%_cover_60%]">Neuropsicología</h1>
    <div class="flex justify-center items-center gap-15 px-20 max-sm:flex-col max-sm:px-5">
        <Miembro 
            class="animate-fade-in-right timeline-view animate-range-[entry_20%_cover_40%]"
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
        <Miembro 
            class="animate-fade-in-left timeline-view animate-range-[entry_20%_cover_40%]"
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
    </div>

    <h1 class="text-center text-5xl font-semibold py-10 animate-zoom-in timeline-view animate-range-[entry_20%_cover_60%]">Neurociencias de la conducta</h1>
    <div class="flex justify-center items-center gap-15 px-20 pb-10 max-sm:flex-col max-sm:px-5">
        <Miembro 
            class="animate-fade-in-right timeline-view animate-range-[entry_20%_cover_40%]"
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
        <Miembro 
            class="animate-fade-in-left timeline-view animate-range-[entry_20%_cover_40%]"
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
    </div>

    <script>
        // @ts-nocheck
        const menuBtn = document.getElementById('menu-btn');
        const mobileMenu = document.getElementById('mobile-menu');
        const iconOpen = document.getElementById('icon-open');
        const iconClose = document.getElementById('icon-close');

        menuBtn.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
            
            iconOpen.classList.toggle('hidden');
            iconClose.classList.toggle('hidden');
        });
    </script>
</Layout>