---
import Layout from "../layouts/Layout.astro"
import Miembro from "../components/Miembro.astro"
import MembresiaCard from "../components/MembresiaCard.astro"
---

<Layout>
    <h1 class="text-center text-8xl font-semibold py-20">Miembros de Red de Neurociencias</h1>
    <h1 class="text-center text-6xl font-semibold py-10">Membresías</h1>
    <div class="flex flex-wrap justify-center items-center gap-10">
        <MembresiaCard 
            titulo="Fundador"
            descripcion="Son los que constituyen la sociedad legal. Pueden votar y ser elegidos."
        />
        <MembresiaCard 
            titulo="Honorarios"
            descripcion="Personas destacadas de la comunidad internacional y nacional."
        />
        <MembresiaCard 
            titulo="Activos"
            descripcion="Profesionista que puede votar y ser elegido."
        />
        <MembresiaCard 
            titulo="Asociados"
            descripcion="Profesionista que solo puede votar."
        />
        <MembresiaCard 
            titulo="En formación"
            descripcion="Son estudiantes en formación que no votan ni pueden ser elegidos."
        />
        <MembresiaCard 
            titulo="Internacional"
            descripcion="Residentes permanentes en el extranjero que cumplen los requisitos."
        />
    </div>

    <h1 class="text-center text-6xl font-semibold pt-20">Miembros activos de RdN</h1>
    <h1 class="text-center text-5xl font-semibold py-10">Neurología</h1>
    <div class="flex justify-center items-center gap-15 px-20">
        <Miembro 
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
        <Miembro 
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
    </div>

    <h1 class="text-center text-5xl font-semibold py-10">Neuro-pediatría</h1>
    <div class="flex justify-center items-center gap-15 px-20">
        <Miembro 
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
        <Miembro 
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
    </div>

    <h1 class="text-center text-5xl font-semibold py-10">Psiquiatría</h1>
    <div class="flex justify-center items-center gap-15 px-20">
        <Miembro 
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
        <Miembro 
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
    </div>

    <h1 class="text-center text-5xl font-semibold py-10">Paido-psiquiatría</h1>
    <div class="flex justify-center items-center gap-15 px-20">
        <Miembro 
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
        <Miembro 
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
    </div>

    <h1 class="text-center text-5xl font-semibold py-10">Ingeniería Biomédica</h1>
    <div class="flex justify-center items-center gap-15 px-20">
        <Miembro 
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
        <Miembro 
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
    </div>

    <h1 class="text-center text-5xl font-semibold py-10">Neuropsicología</h1>
    <div class="flex justify-center items-center gap-15 px-20">
        <Miembro 
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
        <Miembro 
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
    </div>

    <h1 class="text-center text-5xl font-semibold py-10">Neurociencias de la conducta</h1>
    <div class="flex justify-center items-center gap-15 px-20">
        <Miembro 
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
        <Miembro 
            nombre="Dr. Jorge Efraín Salazar Ceballos"
            imagen="/neuro.webp"
            bio="El Dr. Jorge Efraín Salazar Ceballos es un especialista en neurología con más de 10 años de experiencia en el diagnóstico y tratamiento de enfermedades del sistema nervioso.Graduado como Médico Cirujano por la Universidad Nacional Autónoma de México (UNAM), realizó su especialidad en Neurología en el Instituto Nacional de Neurología y Neurocirugía “Manuel Velasco Suárez”, donde también participó en proyectos clínicos enfocados en enfermedades neurodegenerativas."
        />
    </div>
</Layout>