---
import Layout from "../layouts/Layout.astro"
import SocialCard from "../components/SocialCard.astro"
---

<Layout title="RdN: Redes">
    <h1 class="text-center text-8xl font-semibold py-20 animate-fade-in-down max-sm:text-5xl">Redes de Neurociencias</h1>
    <p class="text-center text-2xl pb-10 animate-fade-in-up">Puedes encontrarnos en:</p>

    <main class="flex flex-wrap gap-10 items-center justify-center p-7">
        <SocialCard />
        <SocialCard />
        <SocialCard />
        <SocialCard />
        <SocialCard />
    </main>
</Layout>