<header class="flex justify-between m-7 animate-slide-in-top timeline-view animate-range-[entry_20%_cover_25%]">
    <img src="" alt="Logo RdN">

    <nav class="flex gap-7 pr-10 text-xl font-semibold">
        <a href="/">Inicio</a>
        <a href="nosotros">Sobre nosotros</a>
        <a href="miembros">Miembros</a>
    </nav>
</header>