<header class="flex justify-between m-5" transition:name="trans-menu">
    <img src="" alt="Logo RdN">

    <nav class="flex gap-5 pr-10 text-xl font-semibold">
        <a class="hover:bg-blue-950 hover:text-gray-50 hover:rounded-3xl hover:animate-pop py-3 px-4 text-center" href="/">Inicio</a>
        <a class="hover:bg-blue-950 hover:text-gray-50 hover:rounded-3xl hover:animate-pop py-3 px-4 text-center" href="nosotros">Sobre nosotros</a>
        <a class="hover:bg-blue-950 hover:text-gray-50 hover:rounded-3xl hover:animate-pop py-3 px-4 text-center" href="miembros">Miembros</a>
    </nav>
</header>