---
const { title } = Astro.props;
---
<div class="relative flex justify-center items-center w-auto hover:scale-105 hover:rotate-5 transition-transform duration-300 animate-zoom-in timeline-view animate-range-[entry_20%_cover_25%]">
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="180.000000pt" height="180.000000pt" viewBox="0 0 387.000000 375.000000" preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,375.000000) scale(0.100000,-0.100000)"
        fill="#162456" stroke="none">
            <path d="M1008 3698 c-139 -18 -278 -122 -340 -255 -28 -58 -33 -82 -36 -163
            -4 -84 0 -110 31 -230 90 -340 88 -499 -7 -694 -73 -150 -161 -233 -386 -362
            -157 -89 -227 -188 -237 -331 -7 -96 13 -174 62 -248 61 -90 116 -123 278
            -165 242 -63 351 -156 415 -350 9 -30 17 -113 21 -245 7 -193 8 -202 36 -260
            35 -74 121 -161 195 -197 30 -15 89 -33 130 -39 67 -11 84 -10 159 10 70 17
            101 32 183 88 255 175 310 198 462 191 155 -6 241 -61 396 -253 87 -106 149
            -140 259 -140 124 0 214 56 273 168 20 38 23 62 29 252 5 191 8 216 31 277 75
            201 177 289 453 393 172 64 227 97 291 169 112 127 159 312 119 468 -36 138
            -93 215 -274 373 -283 246 -351 465 -277 889 24 137 26 168 17 219 -15 87 -47
            144 -120 218 -78 78 -148 110 -257 117 -99 6 -150 -11 -338 -113 -282 -154
            -370 -180 -576 -172 -220 9 -312 50 -615 271 -134 98 -244 131 -377 114z"/>
        </g>
    </svg>
    <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
        <p class="text-white font-bold text-2xl text-center max-w-2/3">
            {title}
        </p>
    </div>
</div>