<a href="" class="relative flex flex-col items-center border border-solid border-gray-300 rounded-2xl md:flex-row md:max-w-lg ">
    <div class="block overflow-hidden max-sm:rounded-none max-sm:w-full md:w-36 h-32 bg-blue-950 rounded-l-2xl">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71 72"
        fill="none" class="w-full h-full object-cover object-center">
        <path
        d="M46.4233 38.6403L47.7279 30.3588H39.6917V24.9759C39.6917 22.7114 40.8137 20.4987 44.4013 20.4987H48.1063V13.4465C45.9486 13.1028 43.7685 12.9168 41.5834 12.8901C34.9692 12.8901 30.651 16.8626 30.651 24.0442V30.3588H23.3193V38.6403H30.651V58.671H39.6917V38.6403H46.4233Z"
        fill="#ffff" />
</svg>
    </div>
    <div class="p-4">
        <h4 class="text-2xl font-semibold mb-2 capitalize">Siguenos en Facebook:</h4>
        <p class="text-xl font-normal text-gray-700 transition-all duration-500 leading-5 mb-5">/rdn</p>
    </div>
</a>