---
import '../styles/global.css'
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ClientRouter } from 'astro:transitions';

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/logoRdn.webp" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class="font-PlayfairDisplay text-blue-950 bg-slate-50 m-0 p-0">
		<Header />
		<slot />
		<Footer />

		<script>
			// @ts-nocheck
			function setupMobileMenu() {
				const menuBtn = document.getElementById('menu-btn');
				
				// Si el botón no existe, no hagas nada
				if (!menuBtn) return;

				// Revisa si ya está añadido el oyente
				if (menuBtn.dataset.listenerAdded === 'true') {
					return; // Ya está listo, no añadas otro
				}

				// Si no, busca los otros elementos
				const mobileMenu = document.getElementById('mobile-menu');
				const iconOpen = document.getElementById('icon-open');
				const iconClose = document.getElementById('icon-close');

				// Define la función que alterna las clases
				const toggleMenu = () => {
					mobileMenu.classList.toggle('hidden');
					iconOpen.classList.toggle('hidden');
					iconClose.classList.toggle('hidden');
				};

				// Añade el oyente
				menuBtn.addEventListener('click', toggleMenu);
				
				// Marca el botón para que sepamos que ya tiene el oyente
				menuBtn.dataset.listenerAdded = 'true';
			}

			setupMobileMenu();

			// Ejecuta la función DESPUÉS de CADA navegación
			document.addEventListener('astro:page-load', setupMobileMenu);
		</script>
	</body>
</html>
